@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    padding-top: var(--header-height);
}

:root {
  --general-padding-both-side: 150px;
  --general-txt-color: #fff;
  --general-txt-color-outstanding: #50D100;
  --general-txt-font-outstanding: "Lobster", sans-serif;
  --general-box-shadow-color: #0000002b;
  --header-height: 38px;
  --header-bg-color: #F8FFE9;
  --area-intro-padding-top: 3.5rem;
}

.page {
  /*width: 100%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: stretch;*/
  /*justify-content: flex-start;*/
}

#header {
  width: 100%;
  height: var(--header-height);
  padding: 0;
  background-color: var(--header-bg-color);
  box-shadow: 0px 3px 5px 3px var(--general-box-shadow-color);
  z-index: 20;
  position: fixed;
  top: 0;
}

.header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.header_left .brand-logo-frame {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.header_left .brand-logo-frame img {
  display: block;
  width: 100%;
  height: 100%;
}

.header_left a, .navigate-mobile_top a {
    cursor: pointer;
  font-family: var(--general-txt-font-outstanding);
  font-size: 25px;
  color: var(--general-txt-color-outstanding);
}
.header_right .navigate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 30px;
}
.header_right .navigate li {
  list-style: none;
}
.header_right .navigate li > a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: var(--general-txt-color-outstanding);
}
.header_right .menu-icon span {
    cursor: pointer;
}
.backdrop-navigate-mobile {
    z-index: 21;
    position: fixed;
    inset: 0;
    background: #00000024;
    backdrop-filter: blur(4px);
    display: none;
}
.backdrop-navigate-mobile.show {
    display: block;
}
.navigate-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    max-width: 360px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 22;
    background-color: var(--header-bg-color);
}
.navigate-mobile.show {
    transform: translateX(0);
}
.navigate-mobile_top {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    position: relative;
}
.navigate-mobile_top .close-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 24px;
    cursor: pointer;
}


#content{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: stretch;*/
  /*justify-content: flex-start;*/
    min-height: 100vh;
}
#content #content_intro {
  padding-top: 2.6rem;
  padding-bottom: 0.5rem;
  /*height: calc(100vh - var(--header-height));*/
  /*margin-top: var(--header-height);*/
  /*padding: 0 var(--general-padding-both-side);*/
  background-image: url(/assets/images/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#content #content_intro:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.689);
  content: "";
  z-index: 1;
}
#content #content_intro::after {
  content: "";
  position: absolute;
  inset: 0 auto auto 0;
  width: 65vw;
  height: 65vw;
  border-radius: 100%;
  background-color: #194100;
  opacity: 0.6;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  filter: blur(3px);
  transform: translateX(-40%) translateY(-40%);
  z-index: 1;
}
#content #content_intro .content_intro__text {
  /*width: 43%;*/
  /*position: absolute;*/
  /*inset: 6vh auto auto var(--general-padding-both-side);*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: left;*/
  /*justify-content: flex-start;*/
  z-index: 2;
}
#content #content_intro .content_intro__text h3, #content #content_intro .content_intro__text h1, #content #content_intro .content_intro__text h2, #content #content_intro .content_intro__text p {
  color: var(--general-txt-color);
}
#content #content_intro .content_intro__text h1, #content #content_intro .content_intro__text h2 {
  font-family: var(--general-txt-font-outstanding);
  line-height: 1;
}
#content #content_intro .content_intro__text h3 {
  color: #aeaeae;
  font-size: 1.3rem;
}
#content #content_intro .content_intro__text h1 {
  font-size: 5rem;
}
#content #content_intro .content_intro__text h2 {
  color: var(--general-txt-color-outstanding);
  font-size: 2.8rem;
}
#content #content_intro .content_intro__text p {
  /*text-align: justify;*/
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.7px;
}
#content #content_intro .content_intro__slide {
  /*position: absolute;*/
  /*inset: 100% 0 10% 0;*/
  /*height: 40vh;*/
  /*transform: translateY(calc(-100% - 2vh));*/
    margin-top: 2rem;

}
.content_intro__slide swiper-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 5px 0.3rem;
}
.content_intro__slide swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3254901961);
}
.content_intro__slide swiper-slide .slide-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid #b9b9b9;
  background-color: #fff;
  overflow: hidden;
}
.content_intro__slide swiper-slide .slide-item img {
  display: block;
  border-radius: 5px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#content #content_overview-intro {
  padding: var(--area-intro-padding-top) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#content #content_overview-intro .content_overview-intro__sub-name {
  font-size: 1.2rem;
  color: #999999;
}
#content #content_overview-intro .content_overview-intro__brand-name-frame {
  margin-top: 10px;
  width: 20rem;
}
#content #content_overview-intro .content_overview-intro__brand-name-frame img {
  display: block;
  width: 100%;
}
#content #content_overview-intro .content_overview-intro__desc-area {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#content #content_overview-intro .content_overview-intro__desc-area p {
  font-weight: 400;
  font-size: 1.1rem;
    text-align: center;
  color: #999999;
}
#content #content_overview-intro .content_overview-intro__desc-outstanding {
  margin-top: 10px;
    text-align: center;
  font-size: 1rem;
}
#content #content_overview-intro .contact-area {
  margin-top: 10px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*gap: 10px;*/
}
#content #content_overview-intro .contact-area p {
  font-size: 1rem;
    text-align: center;
  color: #999999;
}

#content #content_overview-intro .contact-area .column {
    padding-top: 0;
    padding-bottom: 0;
}
#content #content_contact {
  padding: var(--area-intro-padding-top) 0 .8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#content #content_contact .contact_title {
  font-family: var(--general-txt-font-outstanding);
  font-size: 1.8rem;
  text-align: center;
}
#content #content_contact .contact_quick {
  width: 100%;
  margin-top: 40px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: flex-start;*/
  /*justify-content: space-between;*/
}
#content #content_contact .contact_quick .contact_quick__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#content #content_contact .contact_quick .contact_quick__item .item_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--general-txt-color-outstanding);
  text-decoration: none;
}
#content #content_contact .contact_quick .contact_quick__item .item_circle span {
  color: #fff;
}
#content #content_contact .contact_quick .contact_quick__item .contact_quick__desc {
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  color: #000;
}
#content #content_contact .contact_form {
  width: 100%;
  margin-top: 40px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 30px;
  background-color: #F8FFE9;
}
#content #content_contact .contact_form .contact_form__left {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 30px;
}
#content #content_contact .contact_form .contact_form__left .left_row {
  width: 100%;
  display: flex;
}
#content #content_contact .contact_form .contact_form__left .left_row.inline {
  /*flex-direction: row;*/
  /*align-items: flex-end;*/
  /*gap: 20px;*/
}
#content #content_contact .contact_form .contact_form__left .left_row .input-cluster {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
#content #content_contact .contact_form .contact_form__left .left_row .input-cluster.wd-150 {
  width: 150px;
}
#content #content_contact .contact_form .contact_form__left .left_row .input-cluster label {
  font-weight: 600;
}
#content #content_contact .contact_form .contact_form__left .left_row .input-cluster input, #content #content_contact .contact_form .contact_form__left .left_row .input-cluster textarea {
  border-radius: 5px;
  border: 1px solid #C5C5C5;
  padding: 10px 15px;
  background-color: #fff;
  font-size: 0.9rem;
  outline: none;
  resize: none;
}
#content #content_contact .contact_form .contact_form__left .form-button {
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #399201;
}
#content #content_contact .contact_form .contact_form__left .form-button:hover {
  cursor: pointer;
}
#content #content_contact .contact_form .contact_form__right {
  flex: 3;
}
#content #content_contact .contact_form .contact_form__right .pic-frame {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #content_contact .contact_form .contact_form__right .pic-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content_area-intro.hall {
  padding: var(--area-intro-padding-top) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  background-color: #f4f4f4;
}
.content_area-intro.hall .hall_title-area {
  width: 100%;
  text-align: center;
  font-size: 1.2vw;
}
.content_area-intro.hall .hall_title-area .hall_title-area__title {
  font-size: 1.6rem;
}
.content_area-intro.hall .hall_title-area .hall_title-area__statistical-area {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content_area-intro.hall .hall_title-area .hall_title-area__statistical-area p {
    font-size: 0.9rem;
}

.content_area-intro.hall .hall_title-area .hall_title-area__statistical-area .statistical-area_outstanding {
  color: var(--general-txt-color-outstanding);
  font-weight: 600;
}
.content_area-intro.hall .hall_title-area .statistical_desc {
  margin-top: 15px;
    font-size: 0.9rem;
    text-align: center;
}
.content_area-intro.hall .hall_pic-area {
  width: 100%;
  /*height: 10rem;*/
  /*display: grid;*/
  /*grid-template-columns: repeat(2, 1fr);*/
  /*grid-gap: 20px;*/
}
.content_area-intro.hall .hall_pic-area .hall_pic-area__frame {
  border: 5px solid #fff;
  overflow: hidden;
    height: 100%;
  /*position: relative;*/
}

.content_area-intro.hall .hall_pic-area .hall_pic-area__frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /*position: absolute;*/
  top: 0;
  left: 0;
}
.content_area-intro.hall .hall_pic-area .rowspan-2 {
  width: 60vw;
  grid-column: 1;
  grid-row: 1/span 2;
}

.content_area-intro.garden {
  padding: var(--area-intro-padding-top) 0;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: flex-start;*/
  /*gap: 30px;*/
}
.content_area-intro.garden .garden_title-area {
  width: 100%;
  text-align: center;
  font-size: 1.2vw;
}
.content_area-intro.garden .garden_title-area .garden_title-area__title {
  font-size: 1.6rem;
}
.content_area-intro.garden .garden_title-area .garden_title-area__desc {
    font-size: 1.2rem;
}
.content_area-intro.garden .garden_pic-area {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*gap: 20px;*/
}
.content_area-intro.garden .garden_pic-area .garden_pic-area__frame {
  flex: 1;
  height: 100%;
  border: 5px solid #f4f4f4;
  overflow: hidden;
  position: relative;
}
.content_area-intro.garden .garden_pic-area .garden_pic-area__frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content_area-intro.video {
  padding: 0;
}
.content_area-intro.video .video {
  width: 100%;
}

.content_area-intro.motel {
  padding: var(--area-intro-padding-top) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*gap: 30px;*/
}
.content_area-intro.motel .motel_title-area {
  width: 100%;
  text-align: center;
  font-size: 1.2vw;
}
.content_area-intro.motel .motel_title-area .motel_title-area__title {
  font-size: 1.6rem;
}
.content_area-intro.motel .motel_title-area .motel_title-area__statistical {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 600;
}
.content_area-intro.motel .motel_title-area .motel_title-area__desc {
  margin-top: 10px;
  font-size: 1rem;
}
.content_area-intro.motel .motel_pic-area {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*gap: 20px;*/
}
.content_area-intro.motel .motel_pic-area .motel_pic-area__frame {
  flex: 1;
  height: 100%;
  border: 5px solid #f4f4f4;
  overflow: hidden;
  position: relative;
}
.content_area-intro.motel .motel_pic-area .motel_pic-area__frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content_area-intro.parking-lot {
  padding: var(--area-intro-padding-top) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  background-color: #f4f4f4;
}
.content_area-intro.parking-lot .parking-lot_title-area {
  width: 100%;
  text-align: center;
    margin: 0 auto;

}
.content_area-intro.parking-lot .parking-lot_title-area .parking-lot_title-area__title {
  font-size: 1.6rem;
}
.content_area-intro.parking-lot .parking-lot_title-area .parking-lot_title-area__desc {
  margin-top: 10px;
  font-size: 1rem;
}
.content_area-intro.parking-lot .parking-lot_pic-area {
  width: 100%;
  height: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-gap: 20px;*/
}
.content_area-intro.parking-lot .parking-lot_pic-area .parking-lot_pic-area__frame {
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
}
.content_area-intro.parking-lot .parking-lot_pic-area .parking-lot_pic-area__frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content_map {
    padding: 0 0 var(--area-intro-padding-top) 0;
}

#footer {
  padding: var(--area-intro-padding-top) 0;
  background-color: #F8FFE9;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footer .footer_left .brand-name {
  font-size: 2.2rem;
    text-align: center;
  font-family: var(--general-txt-font-outstanding);
}
#footer .footer_left .brand-name.outstanding {
  font-size: 1.8rem;
  color: var(--general-txt-color-outstanding);
}
#footer .footer_right {
  flex: 1;
  text-align: center;
}
#footer .footer_right a {
  text-decoration: none;
  color: #000;
    font-size: 1rem;
}/*# sourceMappingURL=index.css.map */

.columns {
    margin-left: 0;
    margin-right: 0;
}

@keyframes vibrate {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-1px, -1px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(-1px, 1px);
    }
    100% {
        transform: translate(1px, -1px);
    }
}

@keyframes shake {
    0%, 70% {
        transform: translate(0, 0);
    }
    10%, 30%, 50% {
        transform: translate(-1px, 0);
    }
    20%, 40%, 60% {
        transform: translate(1px, 0);
    }
}

.call-btn-fixed {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--general-txt-color-outstanding);
    text-decoration: none;

    position: fixed;
    z-index: 30;
    right: 1rem;
    bottom: 1.5rem;

    animation: shake 1s infinite;
}

.call-btn-fixed span {
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 16px;
    right: -14px;
    border: solid transparent;
    border-width: 6px;
    border-top-color: #4CAF50; /* Màu nền của dropdown button */
    transform: translateY(-50%);
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100px;
    width: max-content;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    font-size: .9rem;
    padding: .3rem .8rem;
    text-decoration: none;
    display: block;
    color: var(--general-txt-color-outstanding);
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (min-width: 769px) {
    #content #content_overview-intro .content_overview-intro__brand-name-frame {
        width: 30rem;
    }

    .content_area-intro.hall .hall_title-area .hall_title-area__title {
        font-size: 2.2rem;
    }

    .content_area-intro.garden .garden_title-area .garden_title-area__title {
        font-size: 2.2rem;
    }

    .content_area-intro.motel .motel_title-area .motel_title-area__title {
        font-size: 2.2rem;
    }

    .content_area-intro.parking-lot .parking-lot_title-area .parking-lot_title-area__title {
        font-size: 2.2rem;
    }

    .content_area-intro.garden .garden_title-area .garden_title-area__desc {
        font-size: 1.4rem;
    }

    #content #content_overview-intro .content_overview-intro__desc-outstanding {
        font-size: 1.2rem;
    }

    .content_area-intro.garden .garden_pic-area {
        height: 20rem;
    }

    .content_area-intro.motel .motel_pic-area {
        height: 20rem;
    }

    .content_area-intro.parking-lot .parking-lot_pic-area {
        height: 20rem;
    }

    #content #content_contact .contact_title {
        font-size: 2.2rem;
    }

    #content #content_intro {
        padding-top: 4rem;
    }

    #footer .footer_left .brand-name {
        text-align: left;
    }

    #footer .footer_right {
        text-align: left;
    }

    :root {
        --header-height: 48px;
    }

}

@media screen and (min-width: 1024px) {
    .content_area-intro.hall .hall_pic-area .hall_pic-area__frame.right {
        height: 50%;
    }

    .content_area-intro.garden .garden_pic-area {
        height: 26rem;
    }

    .content_area-intro.motel .motel_title-area {
        width: 70%;
    }

    .content_area-intro.parking-lot .parking-lot_title-area {
        width: 70%;
    }

    .content_area-intro.motel .motel_pic-area {
        height: 26rem;
    }

    .content_area-intro.parking-lot .parking-lot_pic-area {
        height: 26rem;
    }

    #content #content_contact .contact_title {
        font-size: 2.6rem;
    }

    #footer {
        padding: 6rem 0;
    }
}
