:root {
    --area-intro-padding-top: 4rem;
}
.content_menu_intro {
    padding: var(--area-intro-padding-top) 0;
    background-image: url("/assets/images/menu/thumb.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content_menu_intro::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #1B1B1B;
    opacity: 0.85;
}
.content_menu_intro__left {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.content_menu_intro__left .menu_title {
    font-family: Lobster, sans-serif;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: 0;
    text-align: left;
    color: #50D100;
    font-size: 6rem;
}
.content_menu_intro__left .menu_desc {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 1.8rem;
    color: #EEEEEE;
}
.menu_contact {
    margin-top: .3rem;
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu_contact .button {
    color: #FFFFFF;
    border-radius: .4rem;
    background: #D14B00;
    font-family: Montserrat, sans-serif;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    padding: .5rem 1.3rem;
}
.menu_contact .menu_contact__phone {
    display: flex;
    align-items: center;
    gap: 4px;
}
.menu_contact .menu_contact__phone span {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4AAD0D;
    border: 2px solid #4AAD0D;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.menu_contact .menu_contact__phone p {
    font-family: Montserrat, sans-serif;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    color: #50D100;
}
.content_menu_intro__left .menu_link_to_section {
    margin-top: 3rem;
    display: flex;
    gap: 30px;
}
.content_menu_intro__left .menu_link_to_section a {
    color: #9E9E9E;
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    gap: 3px;
}
.content_menu_intro__left .menu_link_to_section a span {
    font-size: 1rem;
}
.content_menu_intro__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_menu_intro__right .content-img {
    position: relative;
    max-width: 500px;
}
.content_menu_intro__right .img-1 {
    z-index: 1;
    height: 100%;
}
.content_menu_intro__right .img-2 {
    position: absolute;
    z-index: 2;
    left: -20px;
    top: -20px;
    width: 180px;
}
.content_menu_intro__right .img-3 {
    position: absolute;
    z-index: 2;
    right: -20px;
    top: 0;
    width: 200px;
}
.content_menu_intro__right .img-4 {
    position: absolute;
    z-index: 2;
    bottom: -10px;
    left: -10px;
    width: 150px;
}
.content_menu_intro__right .img-5 {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -35px;
    width: 230px;
}
.content_menu_roasted_pork {
    padding: var(--area-intro-padding-top) 0;
    background: #F1F1D2;
}
.content_menu_roasted_pork_left {
    position: relative;
}
.content_menu_roasted_pork_left img {
    width: 100%;
    /*position: relative;*/
    display: block;
}
.content_menu_roasted_pork_right {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.content_menu_roasted_pork_right .title, .content_menu_roasted_pork_left .title{
    font-family: Lobster, sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    text-align: center;
    color: #4AAD0D;
}
.content_menu_roasted_pork_right .desc {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: #1B1B1B;
}
.content_menu_roasted_pork_right .desc-2, .content_menu_roasted_pork_left .desc-2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #A7A7A7;
    margin-top: 3.4rem;
}
.content_menu_roasted_pork_left .desc-2 {
    margin-top: 0;
}
@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
.content_menu_roasted_pork_left::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background-image: url("/assets/images/icon/dac-biet.png");
    background-repeat: no-repeat;
    background-size: cover;

    animation: scale 1.8s infinite;
}
.content_menu_hot_pot {
    position: relative;
    padding: var(--area-intro-padding-top) 0;
    /*background: #F9F9F9;*/
    background-image: url("/assets/images/menu/thumb2.png");
    background-repeat: space;
    background-size: cover;

}
.content_menu_hot_pot::before {
    position: absolute;
    content: "";
    inset: 0;

    background: #1B1B1B;
    opacity: 0.85;
}
.hot_pot_left_img {
    /*max-height: 500px;*/
}
.hot_pot_left_img img {
    height: 100%;
    width: 100%;
}
.hot_pot_right_img {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.hot_pot_right_img img {
    width: 100%;
}
.content_menu_hot_pot .title {
    font-family: Lobster, sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    color: #50D100;
    text-align: center;
    padding: 1.8rem 0 0 0;
    margin-bottom: .3rem;
}
.content_menu_hot_pot .title-2 {
    font-family: Lobster, sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    color: #50D100;
    text-align: center;
    padding: 1.8rem 0 0 0;
    margin-bottom: 0;
}
.content_menu_hot_pot .desc {
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}
.hot_pot_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot_pot_desc img {
    max-width: 330px;
}
.hot_pot_desc p {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    color: #EEEEEE;
}
.content_intro__slide swiper-slide .slide-item {
    width: 100%;
    height: 180px;
    border: 4px solid #F1F1D2;
    border-radius: 8px;
}
.content_intro__slide swiper-slide .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.food-item {


}
.food-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 4px solid #F1F1D2;
    border-radius: 8px;
}
.food-item h6 {
    color: #EEEEEE;
    font-family: Lobster, sans-serif;
    font-size: 1.4rem;
}
