#content {
    z-index: 1;
}
.content_motel_intro {
    padding: var(--area-intro-padding-top) 0;
    background-image: url("/assets/images/motel/motel-1-hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 676px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.content_motel_intro h1 {
    font-family: Lobster, sans-serif;
    font-weight: 400;
    line-height: 7rem;
    letter-spacing: 0;
    text-align: left;
    color: #4AAD0D;
    font-size: 6rem;
}
.motel_intro {
    position: relative;
    z-index: 5;
    max-width: 600px;
}
.motel_intro h5 {
    z-index: 100;
}
.motel_intro_sub::after {
    z-index: 0;
    position: absolute;
    width: 1600px;
    height: 700px;
    top: -173px;
    right: -10px;
    background: #FFFFFF;
    content: "";
    border-bottom-right-radius: 338px;
    border-top-right-radius: 338px;
    background: linear-gradient(90deg, #FFFFFF 40.28%, rgba(255, 255, 255, 0.879525) 70.49%, rgba(255, 255, 255, 0.733687) 87.75%, rgba(255, 255, 255, 0) 163.59%);
}
.content_motel_intro::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    content: "";
    z-index: 0;

    opacity: 0.3;
    /*backdrop-filter: blur(10px);*/
    /*filter: blur(5px);*/
}

.content_motel_intro h5 {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-align: left;
    color: #50D100;
    z-index: 5;
}
.content_motel_intro .desc {
    font-family: Montserrat, sans-serif;
    color: #1B1B1B;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.3rem;
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;
    z-index: 5;
}
.content_motel_intro .motel_contact {
    margin-top: .3rem;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 5;
}
.content_motel_intro .motel_contact .button {
    color: #FFFFFF;
    border-radius: .4rem;
    background: #D14B00;
    font-family: Montserrat, sans-serif;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    padding: .5rem 1.3rem;
}
.content_motel_intro .motel_contact .motel_contact__phone {
    display: flex;
    align-items: center;
    gap: 4px;
}
.content_motel_intro .motel_contact .motel_contact__phone span {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4AAD0D;
    border: 2px solid #4AAD0D;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.content_motel_intro .motel_contact .motel_contact__phone p {
    font-family: Montserrat, sans-serif;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    color: #50D100;
}
.content_motel_section_img {
    padding: var(--area-intro-padding-top) 0;
    background: #F1F1D2;
}
.content_motel_detail {
    padding: 2rem 0;
    background-image: url("/assets/images/motel/thumb2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content_motel_detail.img_left {

}
.content_motel_detail::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #1B1B1B;
    opacity: 0.85;
}
.motel_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.motel_detail h3 {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #4AAD0D;
    line-height: 6rem;
    width: 100%;
}
.content_motel_detail.img_left h3 {
    text-align: left;
}
.content_motel_detail.img_right h3 {
    text-align: right;
}
.motel_detail img {
    /*max-width: 330px;*/
}
.motel_detail p {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    color: #EEEEEE;
}
@media screen and (max-width: 769px) {
    .content_motel_detail.img_left h3, .content_motel_detail.img_right h3, .motel_detail h3 {
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    .motel_intro_sub::after {
        right: 300px;
    }
}

@media screen and (min-width: 1023px) {
    .motel_intro_sub::after {
        right: 460px;
    }
}

@media screen and (min-width: 1215px) {
    .motel_intro_sub::after {
        right: 620px;
    }
}

